@import '../constants.module.scss';

.Button {
    outline: none;
    border: none;

    border-radius: $unit;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $unit;
}

.Button {
    transition: opacity 100ms linear, transform 100ms ease-out,
        background-color 100ms linear;
    &.primary {
        background-color: $primaryColor;
        color: $textColor;
        opacity: 1;
    }
    &.secondary {
        background-color: $backgroundColor;
        color: $textColorAlt;
        border: 1px solid $secondaryColor;
        opacity: 1;
    }
    &.tertiary {
        background-color: transparent;
        color: $textColorAlt;
    }
    &.danger {
        background-color: transparent;
        color: $errorColor;
    }
}

.Button {
    &.lg {
        svg {
            $size: 1.5rem;
            width: $size;
            height: $size;
        }
        font-size: 1.5rem;
        padding: 14px 16px;
    }
    &.md {
        svg {
            $size: 1.25rem;
            width: $size;
            height: $size;
        }
        font-size: 1.25rem;
        padding: 12px 16px;
    }
    &.sm {
        svg {
            $size: 1rem;
            width: $size;
            height: $size;
        }
        font-size: 1rem;
        padding: 8px 12px;
    }
}

.Button {
    &:disabled {
        background-color: $backgroundColorDisabled;
        color: $textColorDisabled;
        cursor: not-allowed;

        border: none;
        outline: none;
        transform: none;
        opacity: 1;
    }

    &:focus {
        &.primary,
        &.secondary,
        &.tertiary,
        &.danger {
            outline: 2px solid $focusColor;
            outline-offset: 2px;
        }
    }

    &:active {
        &.primary,
        &.secondary,
        &.tertiary,
        &.danger {
            transform: scale(0.99);
        }
    }

    &:hover {
        &.primary,
        &.secondary {
            opacity: 0.9;
        }
        &.tertiary {
            background-color: $secondaryColor;
        }
        &.danger {
            background-color: $errorColorAlt;
        }
    }
}
