@import '../constants.module.scss';

.Button {
    outline: none;
    border: none;

    border-radius: $unit;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $unit;
}

.Button {
    transition: transform 100ms ease-out, background-color 100ms linear;
    &.primary {
        background-color: $activeBackgroundPrimary;
        color: $activeTextPrimary;
    }
    &.secondary {
        background-color: $activeBackgroundSecondary;
        color: $activeTextSecondary;
        border: 1px solid $border;
    }
    &.tertiary {
        background-color: transparent;
        color: $activeTextTertiary;
    }
    &.danger {
        background-color: transparent;
        color: $error;
    }
}

.Button {
    &.lg {
        svg {
            $size: 1.5rem;
            width: $size;
            height: $size;
        }
        font-size: 1.5rem;
        padding: 14px 16px;

        &.icon {
            padding: 14px;
        }
    }
    &.md {
        svg {
            $size: 1.25rem;
            width: $size;
            height: $size;
        }
        font-size: 1.25rem;
        padding: 12px 16px;

        &.icon {
            padding: 14px;
        }
    }
    &.sm {
        svg {
            $size: 1rem;
            width: $size;
            height: $size;
        }
        font-size: 1rem;
        padding: 8px 12px;

        &.icon {
            padding: 8px;
        }
    }
}

.Button {
    &:disabled {
        background-color: $activeBackgroundDisabled;
        color: $activeTextDisabled;
        cursor: not-allowed;

        border: none;
        outline: none;
        transform: none;
    }

    &:focus-visible {
        &.primary,
        &.secondary,
        &.tertiary,
        &.danger {
            outline: 2px solid $focus;
            outline-offset: 2px;
        }
    }

    &:active {
        &.primary,
        &.secondary,
        &.tertiary,
        &.danger {
            transform: scale(0.99);
        }
    }

    &:hover {
        &.primary {
            background-color: $activeBackgroundHoverPrimary;
        }
        &.secondary {
            background-color: $activeBackgroundHoverSecondary;
        }
        &.tertiary {
            background-color: $activeBackgroundHoverTertiary;
        }
        &.danger {
            background-color: $errorAlt;
        }
    }
}
