$borderColor: #222222;
$accentColor: #8f8f8f;
$errorColor: rgb(212, 48, 48);
$focusColor: rgb(49, 49, 255);

$backgroundColor: #e4e4e4;
$backgroundColorDisabled: #8f8f8f;

$textColor: #f6f6f6;
$textColorDisabled: #e4e4e4;
$textColorAlt: #111111;

$primaryColor: #4770ff;
$secondaryColor: #e4e4e4;

$unit: 8px;
