$borderColor: #222222;
$accentColor: #8f8f8f;
$errorColor: #f03636;
$errorColorAlt: #fcd7d7;
$focusColor: #111111;

$backgroundColor: #eeeeee;
$backgroundColorDisabled: #e4e4e4;

$textColor: #f6f6f6;
$textColorDisabled: #8f8f8f;
$textColorAlt: #111111;

$primaryColor: #4770ff;
$secondaryColor: #d0d0d0;

$unit: 8px;
