$unit: 8px;

$staticBackground: #f6f6f6;

// Active Elements
$activeBackgroundPrimary: #4770ff;
$activeBackgroundSecondary: #eeeeee;

$activeBackgroundHoverPrimary: #3652f5;
$activeBackgroundHoverSecondary: #dcdcdc;
$activeBackgroundHoverTertiary: #ddecff;

$activeTextPrimary: #f6f6f6;
$activeTextSecondary: #8f8f8f;
$activeTextTertiary: #8f8f8f;

$activeTextHoverSecondary: #111111;
$activeTextHoverTertiary: #111111;

$activeBackgroundDisabled: #e4e4e4;
$activeTextDisabled: #8f8f8f;

$border: #dcdcdc;
$focus: #4770ff;
$error: #f03636;
$errorAlt: #fcd7d7;
